<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pigmalionstudios.phonegap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Phonegap Basic Project</name>
    <description>        
    </description>
    <author email="gustavo@pigmalionstudios.com" href="http://www.pigmalionstudios.com.ar">
        Pigmalion Studios Mobile Team
    </author>
    <content src="index.html" />
    <access origin="*" />

	<preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="DisallowOverscroll" value="false" />
	<preference name="orientation" value="portrait" />

</widget>
