.fav_is_on {
	background-image: url(../images/favoritos_on.png);
}

.fav_is_off {
	background-image: url(../images/favoritos_off.png);
}

.mblBackground { background-color: white !important; height: 100%;}
::-webkit-scrollbar { display: none; }

.ios5BadRenderingFix {
    -webkit-transform: translate3d(0, 0, 0);
}

.poweredBy {
    color: #74756f;
    font-size: 12px;
}

*:not(input):not(textarea) {
	-webkit-user-select: none; /* disable selection/Copy of UIWebView */
	-webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}      

.switchWidgetsConfig {
    float: right; 
    margin-right: 4%;
}

.fecha {
	font-size:12px;
	color: #999;
    float: left;
}

.icons{}

.icons img {
	float: right;
	height: 20px;
	margin-right: 20px;
}

.detail {
	padding: 10px;
	font-size: 16px;
	color:#666 !important;
	margin-top: 40px;
}

.detail a {
	color:#e34e47;
}

.htmlClass_bb {height: 100%;}
.htmlClass {height: 100%; /*position: fixed; esto se comento debido al bug que agrega un padding lef y top a toda la app*/}
.bodyClass { background-color: white; height: 100%; font-family: Arial; font-size: 10px; margin: 0px;}

.splashBox { position: absolute; width: 90%; left: 5%; top: 30%; text-align: center; height: 150px;}
.splashBox > img { width: 70%; }
.splashBox > div { margin-top: 20px; text-align: center; }

.splash {
	background: #000;
}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow-enabled class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.master {overflow: hidden;}

.spinner2 {width: 40px; height: 40px; margin: auto; margin-top: 100px; z-index: 100;}

.invisible {
	display:none;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 80%;
	margin-top: 5px;
}

* { -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important;}

.spinner_box {
	position: fixed;
	right: 10px;
	float: right;
	top: 11px;
}


.spinner_header {
   	clear: both;
	width: 25px;
	height: 25px;
}

.spinner_spinning {
	-webkit-animation-name: spin;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
      from {
        -webkit-transform:rotate(0deg);
      }
      
      to {
        -webkit-transform:rotate(360deg);
      }
    }

.spinner {
	width: 65px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
	display: block;
}

.spinner_BB {
	width: 65px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

.header {
	position: fixed; 
	width: 100%; 
	z-index: 1000; 
	top: 0px; 
	left: 0px; 
	-webkit-box-shadow: 0 0px 5px #121010;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 0.3s;
}

.color_main {
	background-color: rgb(0, 196, 240);
}

.color_news {
	background-color: rgb(251, 24, 94);
}

.color_popular {
	background-color: rgb(0, 178, 179);
}

.color_favorites {
	background-color: rgb(124, 96, 164);
}

.color_configuration {
	background-color: rgb(146, 196, 93);
}

.color_about {
	background-color: rgb(246, 150, 64);
}

.header_bb {width: 100%; z-index: 1000;}

.menuBar {
	height: 46px;
	padding-left: 10px;
	padding-top: 0px;
	overflow: auto;
}

::-webkit-scrollbar { display: none; }

.page {
	overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding:0px; margin:0px; float: left;
    height: 100%;
    color: black;
}

.page_bb {
	overflow-y: scroll;
    padding:0px; margin:0px; float: left;
}

.pages { 
	float:left; 
	display:inline; 
	padding:0px; 
	margin:0px;
	overflow:hidden;
	position:relative;	
	border : 0px solid red;	
}

.menu { 
	clear: both; 
	height: 25px; 
	margin: 0px; 
	padding: 0px; 
	overflow: hidden;	
	display: inline-block;
	font-family: sans-serif;
	font: -apple-system-subheadline;
}

.tab { 
	float: left; 
	height: 100%;
	padding-top: 4px; 
	margin-left: 15px; 
	margin-right: 15px;
	position:relative;
	text-align: center; 
	font-size: 12px;
	color: white;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 0.3s;
	opacity: 0.5;
}

.tab_underline {
	position: relative;
	float: left;
	left: 0px;
	height: 3px;
	width: 40px;
	background-color: white;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 0.3s;
	clear: both;
}

.tabSeparator {
	float: left;
}

.centeredTitle {
	text-align: center;
	clear: both;
	font-size: 14px;
	color: white;
	padding-bottom: 2px;
	padding-top: 8px;
	height: 25px;
}

.container{
	padding: 10px;
	margin-bottom:20px;
	overflow: hidden; 
}

.containerHalf {
	margin-left: 4%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	overflow: hidden; 
	width: 42%;
	padding-right: 3%;
}

.containerRecurso {
	width: 42%; 
	height: 170px; 
	background-position: center;
	background-size: cover; 
	margin: 10px;
}

.borderRight {
	border-right: 1px solid rgba(0,0,0,0.1);
}

.left {
	float: left;
}

.right {
	float: right;
}

.config_item {
	margin-bottom: 65px;
	margin-top: 15px;
	display: block;
	margin-left: 4%;
    color:#666 !important;
}

.config_leftItem1 {
    float: left; 
    width: 50%;
}

.config_leftItem2 {
    float: left; 
    width: 60%;
}

.decoration{ 
	height:1px;
	background-color:rgba(0,0,0,0.1);
	display:block;
	clear:both;
}

.mensaje_cargando {
	font-size: 12px;
	padding: 20px;
	height: 30px;
	background-color: rgba(43, 77, 34, 0.14);
}

.mensaje_cargando > div {
    padding-left: 22px;
    width: 100%;
    height: 100%;
    color: #6E8098;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.mensaje_cargando > div > div {
    padding-top: 7px;
    padding-left: 10px;
}

.comoActualizar_paso1 > div {
    background-image: url('../images/arrow-up.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.comoActualizar_paso1 > div > div:before {
    content: "Arrastrar y soltar para cargar mas contenido";
}

.comoActualizar_paso2 > div {
    background-image: url('../images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.comoActualizar_paso2 > div > div:before {
    content: "Soltar para cargar mas contenido";
}

.cargando > div > div:before {
    content: "Cargando contenido...";
}
